# Discord Bot Token (Get this from https://discord.com/developers/applications)
DISCORD_TOKEN=your_discord_bot_token_here

# The Discord Channel ID where the bot should send Mass Disconnect alerts
ALERT_CHANNEL_ID=your_channel_id_here

